/*Google fonts import.*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser.*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles.*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif ;
}
h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*navbar styles with dropdown toggle.*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top:100%
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-goggle-label {
    font-size: 2rem;
}

/*main*/
main {
    /*background-color: lightblue; removed when adding hero image.*/
    /*make main element take up any surplus space to push footer down.*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /*final rgba value sets the opacity so it is semi-transparent.*/
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circular-cover-bg {
    background: url(../images/reasons-image.webp) no-repeat top center/cover;
    height:90vw ;
    width:90vw ;
    margin-bottom:20px ;
    /*make the square image into a circle.*/
    border-radius: 50%;
    max-width:  300px; ;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*meet-up times sections*/
#times {
    background: url(../images/dublin-city.webp) no-repeat center/cover ;
    /*handles responsibility without the need for a media query.*/
    display: flex;
    flex-wrap: wrap;

}

#times div {
    color: #fafafa;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    text-align: center;
    /*this will not wrap on screens of less than 600px wide, 
    each div will expand to fill the available space on its row.*/
    flex-basis: 200px;
    flex-grow: 1;
    /*create a grid of meetup time divs over the background image.*/
    border: 2px solid white;
}

#times h3 {
    /*override the heading color set in general styles.*/
    color: #fafafa;
}

/*gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;

}

#photos {
    line-height: 0;
}

/*forms*/
#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
    padding: 20px 10% 0 10%;
    
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60,60,60,0.6);
    padding: 30px;
}

#signup-form > h2{
    color: #fafafa;
    margin-bottom: 20px;
}

#signup-form > div {
    margin: 20px 30px;
}

.text-input {
    background: transparent;
    height: 25px;
    width: 100%;
    padding: 0 5px;
    margin: 5px 0 20px 0;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.join-button {
    border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    padding: 15px 32px;
    margin-top: 20px;

}



/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*media query: large or landscape photos (570px and up)*/
@media screen and (min-width:570px)  {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* media query: tablet and larger (768px and up)*/
@media screen and (min-width:768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow:none ;
        padding-right: 1rem ;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size:280% ;
         height: 75px; ;
        margin: 0 0.5rem;
    }

    /* main content */
    main {
        /*push main content down to accommodate large header.*/
        margin-top: 79px;
    }

    /*hero*/
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* reasons section*/
    #benefits-physical, benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

    /*gallery*/
    #photos {
        column-count: 3;
    }

    /*forms*/
    #signup {
    background-position: center;
    position: relative;
    }

    #signup-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 150px;
    }

    .text-input:hover {
    border-color: #f16c6b;
}

    .join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
    }

}

/* Large devies (Laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px)  {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #photos {
        column-count: 4;
    }

    
} 

/* screen larger than 1200px */
@media screen and (min-width:1200px) {
    /*Reasons section*/
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex:1;
    }
    
    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }
}